* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #171717;
  --color-green: #15803d;
  --color-white: #fafafa;
  --color-white-100: #f5f5f5;
  --color-white-200: #e5e5e5;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-white-100);
  color: var(--color-black);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  height: 100%;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
