.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination > button:disabled {
  background-color: var(--color-white-200);
  border-color: var(--color-white-200);
  color: var(--color-white);
  cursor: not-allowed;
}

.prev {
  background-color: transparent;
  border: 2px solid var(--color-green);
  color: var(--color-green);
}

.next {
  border: 2px solid transparent;
  background-color: var(--color-green);
  color: var(--color-white);
}
