.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination > a {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 14px 15px;
  text-decoration: none;
}

.prev {
  background-color: transparent;
  border: 2px solid var(--color-green);
  color: var(--color-green);
}

.next {
  border: 2px solid transparent;
  background-color: var(--color-green);
  color: var(--color-white);
}

.disabled {
  background-color: var(--color-white-200);
  border-color: var(--color-white-200);
  color: var(--color-white);
  pointer-events: none;
}
