.menu {
  background-color: var(--color-white);
  border: 1px solid var(--color-white-200);
  bottom: 20px;
  font-size: 1rem;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 280px;
}

.menu > ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
