.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header > nav > button {
  background-color: transparent;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  color: var(--color-black);
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 15px 15px;
}

.main {
  margin-top: 40px;
}

.main > img {
  margin-inline: auto;
  height: auto;
  width: auto;
}

.main > h2 {
  margin-top: 20px;
}

.main > p {
  margin-top: 10px;
}

.main > p > a {
  color: var(--color-black);
  text-decoration: 1px underline dotted;
}

.action {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.action > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action > a {
  background-color: var(--color-green);
  border-radius: 10px;
  color: var(--color-white);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}
